/* .leaflet-popup-content {
     font-family: Helvetica;
     font-size:8px;
     line-height: 1.5;
 }*/


.custom-popup .leaflet-popup-content-wrapper {
/*  background:#2c3e50;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color:#282828;
  font-size:10px;
  line-height:1.5;
  }

.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }

.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }

.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #fff;
  }